langchain-openai
langchain
langgraph
pydantic
python-dotenv
jupyter_client
pyzmq

snowflake-connector-python  

# vector store
langchain_chroma

# python runtime 
ipykernel
-e .


#optional
gradio

# python runtime dependencies for agent 
openpyxl
pandas
numpy
