langchain-openai
langchain
langgraph
langmem
pydantic
python-dotenv
pyzmq

snowflake-connector-python  

# vector store
langchain_chroma

# python runtime 
ipykernel
jupyter_client
-e .


#optional
gradio

# python runtime dependencies for agent 
openpyxl
pandas
numpy
